*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #e2c535e7 0%, #cd5f60dd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBox{
    height: 70%;
    width: 70%; 
    background-color: white;
    display: flex;
    flex-direction: row; 
    border-radius: 1.5rem;
}

.leftBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 5rem;
}

.rightBox{
    width: 50%; 
}

.rightBox img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.leftBoxHeading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftBoxHeading p, h2{
    font-weight: 2000rem;
    font-size: 1.9rem;
    color: rgba(243, 243, 243, 0.889);
} 

.lextBoxPara{
    font-weight: 700;
    color: rgba(224, 95, 95, 0.841);
}    

.leftBoxTestimonials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TestimonialsFirstRow{
    font-size:xx-large;
    color: #ffffff;
    font-weight:bolder;
}

.TestimonialsSecondRow{
    font-weight:600;
    color:rgba(85, 85, 225, 0.915);
}

@media (max-width:1200px) {
    .leftBoxTestimonials {
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
}


